body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    padding: 0;
}
header{
    
display: flex;
flex-direction: row;
justify-content: space-between;
align-content: center;
background-color: rgba(37,64,75,255);
padding-left: 5vh;
padding-right: 5vh;
}


header nav{
    color: white;
    display: flex;
    margin: 18.72px;
    gap: 10px;
    
}

header a{
    color: white;
    text-decoration: none;
    display: flex;
   
    gap: 10px;
    
}
header h3{
    
    color: white;
    text-decoration: none;
    display: flex;
   
    gap: 10px;
    
}


#suscribe{
    background-color: rgba(37,64,75,255);
    display: flex;
    justify-content: center;
}
#suscribe p {
    color: white;
}

#developmentArea{
    color: white;
    background-color: rgba(185,125,45,255);
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    padding-left: 50px;
    padding-right: 50px;
    height: 45ch;
    
}

#h1WebDV{
    text-align: center;
}

#suscribe form{
    margin: 16px;
}


#imagesrow {
    color: rgba(37,64,75,255);
    padding: 30px;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 20ch;
    justify-content: center; 
    align-items: center;
}


#imagesrowP{
    padding-left: 10px;
    padding-right: 10px;
   
}
footer{
    background-color: rgba(37,64,75,255);
    color: white;
    display: flex;
    padding: 10px;
    flex-direction: column;
    text-align: center;
}


.columnImages{

    display: flex;
    flex-direction: column;
    
    align-items: center;
    text-align: center;


}
